/* Body Style */
body {
    color: #484848;
    font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  /* Block Horizontal Scrolling */
  html, body {
    width: 100%;
    overflow-x: hidden;
  }
  
  /* Container Style */
  .container {
    margin: 30px auto;
    max-width: 1000px;
  }
  
  /* Strong Style */
  strong {
    font-weight: bold;
  }
