.filters {
    height: 70px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button {
    font-size: 18px;
    background: #ff5a5f;
    color: #fff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
	margin-top: 11px;
	margin-bottom: 11px;
	margin-right: 30px;
    
}

button:hover {
    opacity: 90%;
}

